.App {
    min-height: 100vh;
    background-color: #282c34;
}

.App-title {
    margin: 0;
    padding: 20px;
    color: #fff;
}

.App-content {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.App-content-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #000;
    border: 1px solid green;
    padding: 20px;
    border-radius: 15px;
}

.App-content-item-logPass {
    display: flex;
    align-items: center;
    gap: 20px;
}

.App-subTitle {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
}

.App-subTitle > div {
    display: flex;
    align-items: center;
    gap: 15px;
}
.App-subTitle > div > span {
    color: #fff;
    font-weight: 600;
}


img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.App-content-item p {
    color: #fff;
}



